section.contact-block-container#id-contact-block
    .inner-max-width-container.contact-block
        .contact__image.img-block.contact__image--pos-relative.background-back-image--contacts
            .img-cover.contact-img-cover
        .contact__text-block.scroll-element
            h3.contact__text-title If not now, whene?
            p.contact__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae corrupti commodi perferendis blanditiis? Id, dolorem fugiat? Rerum facere explicabo dicta nam, quam iste! Nesciunt, explicabo. Quibusdam asperiores tempore nulla alias?
            .btn-contact-container
                button.button-simple#btn-contact Get in touch
                .hidden#parametrs-contacts-form
                    #form-placeholder-name Your name
                    #form-placeholder-e-mail Your e-mail
                    #form-placeholder-message Your message
                    
                    #form-submit-value submit

                    //- #form-errore-name поле имя не может быть пустым
                    //- #form-errore-e-mail поле e-mail не может быть пустым
                    //- #form-errore-e-mail-not некорректный e-mail
                    //- #form-errore-message сообщение не может быть пустым

