@import url(/node_modules/swiper/css/swiper.min.css);

.popup__container {
    font-family: "Oswald", sans-serif;
    background-color: rgba(217, 197, 188, 0.9);
}

.popup__container .popup__btn-close {
    background-color: #080705;
    color: #D9C5BC;
    border: 2px solid #080705;
}

.popup__container .popup__btn-close:hover {
    color: #080705;
    background-color: #D9C5BC;
}

table tr {
    background-color: #161311;
    color: #D9C5BC;
}

table tr:nth-child(even) {
    color: #161311;
    background-color: #D9C5BC;
}

.contact-form--in-popup .contact-form__field {
    color: #080705;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
}

.contact-form--in-popup .contact-form__errore-textfield {
    color: #8a1d0a;
}

.message-success {
    font-family: "Oswald", sans-serif;
    background-color: #D9C5BC;
    color: #080705;
}

.message-success a {
    color: #67564C;
}

.message-success a:hover {
    color: black;
}

.header-menu {
    font-family: "Oswald", sans-serif;
}

.header-menu a {
    color: #4F423A;
}

.header-menu a:hover {
    color: #080705;
}

@media screen and (max-width: 600px) {
    .header-menu {
        background-color: #D9C5BC;
    }
}

.preloader {
    background-color: #D9C5BC;
}

.preloader .preloader__title {
    color: #363634;
    font-family: 'sans-serif';
}

.preloader .preloader__descr {
    font-family: 'sans-serif';
    color: #67564C;
}

.header-text-block .header-text__namesite {
    color: #363634;
    font-family: "Roboto Condensed", sans-serif;
}

.header-text-block .header-text__typesite {
    font-family: "Oswald", sans-serif;
    color: #67564C;
}

.header-text-block .header-text__comment {
    color: #363634;
    font-family: "Oswald", sans-serif;
}

.header-text-block .header-text__text {
    font-family: "Roboto Condensed", sans-serif;
    color: #363634;
}

.portfolio-block {
    background-color: #ffffff;
}

.portfolio-block .portfolio__item {
    border: 2px solid #D9C5BC;
}

.portfolio-block .portfolio__item .portfolio__item-cover {
    background-color: #D9C5BC;
}

.portfolio-block .portfolio__item .portfolio__item-cover .portfolio__item-block-text {
    color: #4F423A;
}

.portfolio-block .portfolio__item .portfolio__item-cover .portfolio__item-title {
    font-family: "Oswald", sans-serif;
}

.portfolio-block .portfolio__item .portfolio__item-cover .portfolio__item-description {
    font-family: "Roboto Condensed", sans-serif;
}

.services-block {
    background-color: #F3F2EE;
}

.services-block--back-image::after {
    background-color: #D9C5BC;
}

.services-block .comment-block .comment-block__image .comment-img-cover {
    background-color: #F3F2EE;
}

.services-block .comment-block .comments-wrapper .comments__comment {
    font-family: "Roboto Condensed", sans-serif;
}

.services-block .comment-block .comments-wrapper .comment-block__buttons .btn-prev, .services-block .comment-block .comments-wrapper .comment-block__buttons .btn-next {
    font-family: "Oswald", sans-serif;
    color: #67564C;
}

.services-block .comment-block .comments-wrapper .comment-block__buttons .btn-prev:hover, .services-block .comment-block .comments-wrapper .comment-block__buttons .btn-next:hover {
    color: #080705;
}

.services-block .our-services-block {
    font-family: "Roboto Condensed", sans-serif;
    color: #3b312c;
}

.services-block .our-services-block .our-services__title {
    margin-bottom: 15px;
}

.services-block .our-services-block .our-services__list {
    border-left: 2px solid #D9C5BC;
}

.contact-block-container {
    background-color: #ffffff;
}

.contact-block-container .contact-img-cover {
    background-color: #ffffff;
}

.contact-block-container .contact__text-block {
    font-family: "Roboto Condensed", sans-serif;
    color: #67564C;
}

.contact-block-container .contact__text-block .contact__text-title {
    color: #080705;
}

.contact-block-container .btn-contact-container {
    border-top: 2px solid #D9C5BC;
}

.footer-block {
    color: #080705;
    font-family: "Roboto Condensed", sans-serif;
    color: #67564C;
}

.footer-block a {
    color: #67564C;
}

* {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.background-back-image--about {
    background-image: url("../images/backgrounds/about-back.jpg");
}

.background-back-image--message-send {
    background-image: url("../images/backgrounds/about-back.jpg");
}

.background-back-image--services {
    background-image: url("../images/backgrounds/services-back.jpg");
}

.background-back-image--contacts {
    background-image: url("../images/backgrounds/contact-back.jpg");
}

.inner-max-width-container {
    width: 100%;
    max-width: 900px;
    margin: auto;
}

@media screen and (max-width: 900px) {
    .inner-max-width-container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.header-menu-container {
    position: fixed;
    z-index: 10;
    width: 100%;
    left: 0;
    top: 0;
}

.header-menu-container.fixed .header-menu-wraper {
    background-color: #D9C5BC;
}

.header-text-block-container {
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 3;
    position: absolute;
}

.header {
    height: 100vh;
    min-height: 500px;
    background-color: #D9C5BC;
    position: relative;
}

.header .header__background-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.header .header__background-container .header__background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.header .header__background-container .header__background--back-image {
    position: relative;
    background-position: center center;
    background-size: cover;
}

.header .header__background-container .header__background--back-image::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #D9C5BC;
    opacity: 0.8;
    z-index: 2;
}

@media screen and (max-width: 500px) {
    .header-text-block-container {
        padding-top: 100px;
    }

    .header-text-block-container .header-text__typesite {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 520px) {
    .header {
        min-height: 800px;
    }
}

@media screen and (max-width: 400px) {
    .header-text-block-container {
        padding-top: 150px;
    }
}

.button {
    font-weight: bold;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.btn-show-menu {
    border: 2px solid #555555;
    background-color: #060606;
}

.btn-show-menu .btn-show-menu__line {
    -webkit-transition: all 0.1s ease-in-out 0.3s;
    transition: all 0.1s ease-in-out 0.3s;
    background-color: #CCCCCC;
}

.btn-show-menu .btn-show-menu__line::before, .btn-show-menu .btn-show-menu__line::after {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: #CCCCCC;
}

.btn-show-menu--menu-show .btn-show-menu__line {
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    background-color: transparent;
}

.btn-show-menu--menu-show .btn-show-menu__line::before, .btn-show-menu--menu-show .btn-show-menu__line::after {
    background-color: #CCCCCC;
}

.button-simple {
    color: #CCCCCC;
    background-color: #060606;
    border: 2px solid #555555;
    font-weight: bold;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-family: "Oswald", sans-serif;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
}

.button-simple:hover {
    cursor: pointer;
    background-color: #CCCCCC;
    color: #060606;
}

.img-block {
    position: relative;
}

.img-block .img-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.scroll-element {
    opacity: 0;
    -webkit-transition: all 1000ms ease-in-out;
    transition: all 1000ms ease-in-out;
}

.hidden {
    visibility: hidden;
    display: none;
}

table {
    width: 100%;
    border-spacing: 0;
}

table tr td {
    padding: 7px;
    border: none;
}

.message-success {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
}

.message-success .message-success__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.message-success a {
    text-decoration: none;
    -webkit-transition: color 0.5s ease-in;
    transition: color 0.5s ease-in;
}

.message-success a:hover {
    text-decoration: underline;
}

/* Preloader */
.preloader {
    opacity: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.preloader .preloader-animate {
    -webkit-animation: preload-animate  2s infinite ease-in-out;
    animation: preload-animate  2s infinite ease-in-out;
}

.preloader .preloader__title {
    text-transform: lowercase;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 15px;
}

.preloader .preloader__descr {
    font-size: 18px;
    opacity: 0.7;
    text-transform: uppercase;
    font-weight: 300;
}

@-webkit-keyframes preload-animate {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

@keyframes preload-animate {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

/* Header */
.header-text-block {
    width: 50%;
    text-align: center;
}

.header-text-block .header-text__namesite {
    text-transform: lowercase;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 15px;
}

.header-text-block .header-text__typesite {
    font-size: 18px;
    opacity: 0.7;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 85px;
}

.header-text-block .header-text__comment {
    font-weight: 550;
    margin-bottom: 20px;
}

.header-text-block .header-text__text {
    font-size: 13px;
    width: 70%;
    margin: 0 auto;
}

@media screen and (max-width: 800px) {
    .header-text-block {
        width: 90%;
    }
}

/* Menu */
.btn-show-menu {
    display: none;
    margin-left: auto;
    padding: 0;
    width: 30px;
    height: 30px;
    font-size: 0;
    color: transparent;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.btn-show-menu .btn-show-menu__line {
    display: inline-block;
    height: 2px;
    width: 85%;
    margin: 0 auto;
    position: relative;
}

.btn-show-menu .btn-show-menu__line::before, .btn-show-menu .btn-show-menu__line::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

.btn-show-menu .btn-show-menu__line::before {
    top: -6px;
}

.btn-show-menu .btn-show-menu__line::after {
    bottom: -6px;
}

.btn-show-menu--menu-show .btn-show-menu__line::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-show-menu--menu-show .btn-show-menu__line::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.header-menu {
    text-align: right;
    font-size: 15px;
    list-style: none;
}

.header-menu--btn-back {
    padding-bottom: 5px;
    text-align: left;
}

.header-menu--btn-back .menu-btn-back {
    font-size: 30px;
    line-height: 1;
}

.header-menu__link {
    display: inline-block;
    text-transform: uppercase;
    margin: 10px 10px;
}

.header-menu__link:first-of-type {
    margin-left: 0;
}

.header-menu__link:last-of-type {
    margin-right: 0;
}

.header-menu .header-menu__parent-sub-menu {
    position: relative;
}

.header-menu .header-menu__parent-sub-menu .sub-menu {
    list-style: none;
    position: absolute;
    text-align: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding-top: 10px;
    left: -50%;
    display: none;
}

.header-menu .header-menu__parent-sub-menu .sub-menu .sub-menu-item {
    text-align: center;
}

.header-menu .header-menu__parent-sub-menu:hover .sub-menu {
    display: block;
}

.header-menu a {
    font-weight: 300;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@media screen and (max-width: 600px) {
    .btn-show-menu {
        display: block;
        position: relative;
        z-index: 99;
    }

    .header-menu-wraper {
        padding: 5px 0;
    }

    .header-menu {
        opacity: 0;
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .header-menu--btn-back {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        display: inline-block;
        height: auto;
        padding-left: 5px;
    }

    .header-menu.show-menu {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    .header-menu__link {
        width: 95%;
        text-align: center;
    }

    .header-menu__link:first-of-type {
        margin-left: 15px;
    }

    .header-menu .header-menu__link,
    .header-menu .header-menu__link:last-of-type {
        display: block;
        margin: 15px;
    }
}

/* Portfolio */
.portfolio-block {
    padding-top: 110px;
    padding-bottom: 50px;
    font-size: 0;
}

.portfolio-block .portfolio__item-link {
    display: inline-block;
    width: 49%;
}

.portfolio-block .portfolio__item-link:nth-child(2n - 1) {
    margin-right: 1%;
}

.portfolio-block .portfolio__item-link:nth-child(2n) {
    margin-left: 1%;
}

.portfolio-block .portfolio__item {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.portfolio-block .portfolio__item img {
    width: 100%;
    height: auto;
}

.portfolio-block .portfolio__item:hover {
    cursor: pointer;
}

.portfolio-block .portfolio__item:hover .portfolio__item-cover {
    opacity: 0.8;
}

.portfolio-block .portfolio__item .portfolio__item-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.portfolio-block .portfolio__item .portfolio__item-cover .portfolio__item-block-text {
    width: 70%;
    text-align: center;
    opacity: 0.8;
}

.portfolio-block .portfolio__item .portfolio__item-cover .portfolio__item-title {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 14px;
    text-transform: uppercase;
}

.portfolio-block .portfolio__item .portfolio__item-cover .portfolio__item-description {
    font-size: 14px;
}

.portfolio-block .portfolio__btn-view-all-works-container {
    text-align: center;
    padding-top: 30px;
}

@media screen and (max-width: 600px) {
    .portfolio-block .portfolio__item-link,
  .portfolio-block .portfolio__item-link:nth-child(2n),
  .portfolio-block .portfolio__item-link:nth-child(2n - 1) {
        width: 70%;
        margin: 0;
        margin: auto;
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .portfolio-block .portfolio__item-link,
  .portfolio-block .portfolio__item-link:nth-child(2n),
  .portfolio-block .portfolio__item-link:nth-child(2n - 1) {
        width: 100%;
    }
}

/* Services */
.services-block {
    padding: 65px 0;
}

.services-block--back-image {
    background-position: center center;
    background-size: cover;
    position: relative;
}

.services-block--back-image::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.6;
    z-index: 2;
}

.services-block--back-image .comments-wrapper, .services-block--back-image .our-services-block {
    position: relative;
    z-index: 3;
}

.services-block .comment-block {
    width: 65%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.services-block .comment-block .comment-block__image {
    height: 400px;
    width: 40%;
    background-position: center center;
    background-size: cover;
}

.services-block .comment-block .comments-wrapper {
    width: 70%;
    font-size: 16px;
    padding: 0 10%;
}

.services-block .comment-block .comments-wrapper .comments__comment .comment-block__text {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
}

.services-block .comment-block .comments-wrapper .comments__comment .comment-block__author {
    padding-left: 10px;
    font-size: 15px;
    font-style: italic;
}

.services-block .comment-block .comments-wrapper .comment-block__buttons {
    text-align: center;
}

.services-block .comment-block .comments-wrapper .comment-block__buttons .btn-prev {
    margin-right: 40px;
}

.services-block .comment-block .comments-wrapper .comment-block__buttons .btn-prev, .services-block .comment-block .comments-wrapper .comment-block__buttons .btn-next {
    background: none;
    border: none;
    padding: 0 15px;
    font-size: 25px;
}

.services-block .comment-block .comments-wrapper .comment-block__buttons .btn-prev:hover, .services-block .comment-block .comments-wrapper .comment-block__buttons .btn-next:hover {
    cursor: pointer;
}

.services-block .our-services-block {
    width: 50%;
    margin-top: -15px;
    margin-left: 50%;
    padding-right: 15%;
}

.services-block .our-services-block .our-services__title {
    margin-bottom: 15px;
}

.services-block .our-services-block .our-services__list {
    list-style: none;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 30px;
}

.swiper-slide-next {
    opacity: 0;
}

.comments {
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .services-block .comment-block {
        width: 90%;
    }

    .services-block .comment-block .comments-wrapper {
        width: 100%;
        padding-right: 0;
    }

    .services-block .our-services-block {
        width: 90%;
        margin-left: 10%;
    }

    .services-block .our-services-block .our-services__title {
        text-align: right;
    }
}

@media screen and (max-width: 450px) {
    .services-block .our-services-block {
        margin-top: 10px;
    }
}

/* Contacts */
.contact-block-container .contact-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -moz-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 100px;
}

.contact-block-container .contact-block .contact__image {
    height: 500px;
    width: 30%;
    margin-top: -70px;
    background-position: center center;
    background-size: cover;
}

.contact-block-container .contact-block .contact__image--pos-relative {
    position: relative;
    z-index: 3;
}

.contact-block-container .contact-block .contact__text-block {
    width: 70%;
    margin-bottom: -45px;
    padding-left: 70px;
    padding-right: 75px;
}

.contact-block-container .contact-block .contact__text-block .contact__text-title {
    margin-bottom: 15px;
}

.contact-block-container .contact-block .btn-contact-container {
    margin-top: 30px;
    padding-top: 30px;
}

@media screen and (max-width: 800px) {
    .contact-block-container .contact-block .contact__image {
        margin-top: 10px;
    }

    .contact-block-container .contact-block .contact__text-block {
        padding-right: 10px;
        padding-left: 20px;
    }
}

/* Footer */
.footer-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 14px;
}

.footer-block .footer__contacts .contacts__link-social {
    padding: 0 10px;
    position: relative;
    text-transform: capitalize;
}

.footer-block .footer__contacts .contacts__link-social--email {
    text-transform: lowercase;
    margin-bottom: 7px;
}

.footer-block .footer__contacts .contacts__link-social:after {
    content: '.';
    position: absolute;
    left: 0;
    bottom: 20%;
    font-size: 18px;
}

.footer-block .footer__contacts .contacts__link-social:first-of-type {
    padding-left: 0;
}

.footer-block .footer__contacts .contacts__link-social:first-of-type:after {
    content: '';
}

.footer-block .footer__contacts .contacts__link-social:last-of-type {
    padding-right: 0;
}

.footer-block .footer__contacts .contacts__link-social a {
    text-decoration: none;
    -webkit-transition: color 0.5s ease-in;
    transition: color 0.5s ease-in;
}

.footer-block .footer__contacts .contacts__link-social a:hover {
    text-decoration: underline;
    color: black;
}

@media screen and (max-width: 600px) {
    .footer-block {
        display: block;
        text-align: center;
    }

    .footer-block .footer__contacts {
        margin-bottom: 15px;
    }
}

.popup__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}

.popup {
    padding: 50px;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.popup__btn-close {
    position: fixed;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.popup__content {
    text-align: center;
}

.popup__header, .popup__footer {
    height: 10vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.popup__main {
    height: 80vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: auto;
    position: relative;
}

.popup__main img {
    height: 100%;
    width: auto;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.popup__main img.image--clickable {
    cursor: pointer;
}

.popup__main img.image-big {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.popup .portfolio-block {
    padding: 20px;
}

.popup--image {
    padding: 0;
}

.popup--vertical-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.table-services__container {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact-form--in-popup {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.contact-form--in-popup .contact-form__submit, .contact-form--in-popup .contact-form__field {
    margin-top: 15px;
}

.contact-form--in-popup .contact-form__field {
    padding: 10px;
    width: 100%;
    text-align: center;
    font-family: inherit;
    font-size: 15px;
}

.contact-form--in-popup .contact-form__errore-textfield {
    text-transform: lowercase;
    margin-top: -3px;
}

.contact-form--in-popup .contact-form__message {
    min-height: 300px;
}

@media screen and (max-width: 500px) {
    .popup {
        padding-left: 0;
        padding-right: 0;
    }

    .popup .table-services__container {
        width: 100%;
    }
}
