.header-text-block#id-header-text-block
    h1.header-text__namesite= nameSite
    h2.header-text__typesite= typeSite
    div
        h3.header-text__comment Lorem ipsum dolor sit amet.
        p.header-text__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus, commodi aut mollitia consequatur incidunt vel maiores, similique vitae nesciunt, quis id repudiandae. Quisquam, eligendi sed? Rem voluptatem, earum itaque quasi numquam error dolore? Rem nihil dolor suscipit obcaecati odio aspernatur atque quibusdam saepe, minus necessitatibus ipsa alias deserunt eum cumque.    