- var nameSite = 'Fisher Kerluke' 
- var typeSite = 'Design studio'
- var emailSite = 'designstudio@email.com'
- var textCopyright = nameSite + ' ' + typeSite + ' - \u00A9 2019' 

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= nameSite

        <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed&display=swap" rel="stylesheet">
        link(rel="stylesheet", href="./css/main.min.css")
    body
        include blocks/preloader/preloader
        header.header
            .header__background-container#header
                .header__background.header__background--back-image.background-back-image--about
            .header-menu-container#id-static-menu
                .header-menu-wraper
                    .inner-max-width-container
                        include blocks/header-menu/header-menu
            section.header-text-block-container
                include blocks/header-text-block/header-text-block
        main.main#main
            include blocks/portfolio/portfolio
            include blocks/services/services
            include blocks/contact/contact
        footer.footer
            .inner-max-width-container
                include blocks/footer/footer

        // ОКНО С ПОДТВЕРЖДЕНИЕМ ОТПРАВКИ СООБЩЕНИЯ
        // header.header#header.message-success
        //     .header__background-container
        //         .header__background.header__background--back-image.background-back-image--message-send
        //     .message-success__inner
        //         h2  Ваше сообшение отправленно       
        //         a(href="#") На сайт


        include blocks/popups/form
        include blocks/popups/services-list

        script(src="./js/app.min.js")